# Introduction

 <div style = "color: White; display: fill;
              border-radius: 5px;
              background-color: #20BEFF;
              font-size: 100%;
              font-family: Verdana">
This dataset is about customer has taken credit and bought items which is purpose. Using this dataset will perform statistics and probabality analysis.

# Importing Libraries

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # visualization like pie graph
import seaborn as sns #visualization like scatterplot 

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current sessio

/kaggle/input/credit-data/german_credit_data.csv

# Loading Dataset

In [2]:
#Reading the Dataset
credit=pd.read_csv('/kaggle/input/credit-data/german_credit_data.csv')
#copying the dataset
data=credit.copy()

In [3]:
# dropping the column - Unnmaned:0 as it doesn't have much use.
data.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
# first three rows of data dataset
data.head(3)

,Age,Gender,Job,Housing,Saving accounts,Checking account,Credit_amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education

# Exploring the Dataset

In [5]:
#Summary of Dataset
def summary(df):
    brief=pd.DataFrame(index=df.columns)
    brief['dtypes']=df.dtypes
    brief['count']=df.count()
    brief['#unique']=df.nunique()
    brief['#missing']=df.isna().sum()
    brief['missing%']=df.isna().sum()/len(df)*100
    brief=pd.concat([brief , df.describe().T.drop('count',axis=1)],axis=1)
    return brief

In [6]:
summary(data).style.background_gradient(cmap='YlGnBu')

#### Insights:
* Saving accounts & Checking account having null values.

# Handling NULL Values

In [7]:
data.dropna(inplace=True)

In [8]:
data.isna().sum()

Age                 0
Gender              0
Job                 0
Housing             0
Saving accounts     0
Checking account    0
Credit_amount       0
Duration            0
Purpose             0
dtype: int64

# Feature Encoding