# Titanic Survival Prediction
Given a custom dataset which represents the details of passengers who were in the great 'Titanic' ship.

Our task is to find whether a person survived or not after the incident using various models provided by `scikit-learn`.

Your aim is to get the predictions using different models by tuning the parameters of your choice.

# Importing Libraries

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt #visualization
import seaborn as sns
import sklearn # machine learninng modelling

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic-survival/train.csv
/kaggle/input/titanic-survival/test.csv

# Reading the Dataset

In [2]:
train=pd.read_csv('/kaggle/input/titanic-survival/train.csv')
test = pd.read_csv('/kaggle/input/titanic-survival/test.csv')

In [3]:
# first three rows of train dataset
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
1,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
2,85,1,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,S

In [4]:
# first three rows of test dataset
test.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S
1,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.700,G6,S
2,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.000,NaN,S

# Exploring the Dataset

In [5]:
# Summary of dataset
def summary(train):
    df=pd.DataFrame(index=train.columns)
    df['dtypes']=train.dtypes
    df['count']=train.count()
    df['#unique']=train.nunique()
    df['missing']=train.isna().sum()
    df['missing%'] = train.isna().sum()/len(train)*100
    df = pd.concat([df,(train.describe().T.drop('count',axis=1))],axis=1)
    return df

In [6]:
# Summary of train Dataset
summary(train).style.background_gradient(cmap='YlGnBu')

In [7]:
# Summary of dataset
def summary(test):
    df=pd.DataFrame(index=test.columns)
    df['dtypes']=test.dtypes
    df['count']=test.count()
    df['#unique']=test.nunique()
    df['missing']=test.isna().sum()
    df['missing%'] = test.isna().sum()/len(test)*100
    df = pd.concat([df,(test.describe().T.drop('count',axis=1))],axis=1)
    return df

In [8]:
# Summary of test Dataset
summary(test).style.background_gradient(cmap='YlOrBr')

<div style = "color: White; display: fill;
              border-radius: 5px;
              background-color: #20BEFF;
              font-size: 100%;
              font-family: Verdana"> 
    
<b>Insight:</b>
* We have numerical and  categorical columns
* Missing Values: The dataset contains NA values, null values handling  will be required .
* Outcome: Target variable is  "Survived" variable. Possibilities include: lived(1), died(0).